 *{
    padding: 0;
    margin:0;
    box-sizing: border-box;
   
 }

 body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(100, 100, 210),rgba(186, 203, 184, 0.2));
    background-repeat: no-repeat;
    display: block;
}
 /*navbar*/
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    color: rgb(118, 52, 52);
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    
}
.links{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.logo{
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 16px;

}
 .acm img{
    width: 70px;
    height: 70px;
   margin-right: 10px;
  
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color:black;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    transition: all 0.5s;
}

nav ul li a:hover{
  text-decoration: underline;
  transition: all 0.5s  ease-in;
}
nav img{
    display: none;
}



section{
    margin:0px 5px;
    
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 40px 20vw;
}
.text{
    color:#ea7171
}
.home{
     font-family: 'Oswald', sans-serif;
     font-size: 125px;
     margin-bottom: auto;
     
}
#main{
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 5s steps(50) infinite alternate,
    blink 10000ms steps(50) infinite normal;
    border-right: 5px solid black;
    justify-content: center;

}
/*animated texts*/
@keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 50%;
    }
  }
  @keyframes blink {
    from {
      border-color: black;
    }
    to {
      border-color: transparent;
    }
  }
  /*svg css*/
.waves{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -10;
}

.waves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 183px;
}

.waves .shape-fill {
    fill: #E4CBCB;
}
.waves-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waves-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
}

.waves-2 .shape-fill {
    fill: #FFFFFF;
}
.triangle {
    position: absolute;
   bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
   
}

.triangle svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
    transform: rotateY(180deg);
}

.triangle .shape-fill {
    fill: #d0aeae;
}
#chart{
    
    height: 85%;
    position: absolute;
    
    display: inline-flex;
    height: 10p;
    margin-left: auto;
    left: 50%;
    top: 6%;
    margin-top: 3%;

    
}
/*tracker*/


.row{
   
    margin-top: 10px;
    position: absolute;

   

}
h5{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    text-align: center;

}

.confirm{
    color: rgb(255, 157, 0);
    border: 10px solid lavenderblush;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.63);
}
.Active{
  color: #0891b2;
  
    border: 10px solid lavenderblush;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.63);
}
.Recovered{
    color: rgb(0, 241, 0);
 
    border: 10px solid lavenderblush;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.63);
}
.death{
    color: rgb(255, 7, 7);
   
    border: 10px solid lavenderblush;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.63);
}
p{
    text-align: center;
    margin-top: 10px;
}


.tracker{
    margin: 0px 0px;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    gap: 25px;
  background: linear-gradient(rgb(223, 202, 202),rgb(201, 199, 205));
  margin-bottom:20vh;
    background-color: #E4CBCB;
}
#sym,#pre{
    font-size: 20px;
    text-decoration: underline;
    border: 3px double rgb(108, 108, 108);
    padding: 5px 10px;
    
}
.first-row,.second-row,.third-row,.fourth-row{
    margin-top: 5px;
    
}
p#pre{
    margin-top: 15%;
}
.third-row{
    display: flex;
    justify-content: center;
}
.fourth-row{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.safety-icons{
    margin-bottom: 2px;
    
}

.safety{
    display: inline-block;

}
.symptoms{
    height: auto;
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: 3s all ease;
  }
  
  .symptoms.active{
    transform: translateY(0);
    opacity: 1;
  }
  .Precautions{
    height: auto;
    position: absolute;
    transform: translateY(150px) translateX(100px) ;
    opacity: 0;
    transition: 3s all ease;
  }
  
  .Precautions.active{
    transform: translateY(0);
    opacity: 1;
  }
  .contact{
    height: auto;
    position: relative;
    transform: translateY(150px) translateX(100px) ;
    opacity: 0;
    transition: 3s all ease;
  }
  
  .contact{
    transform: translateY(0);
    opacity: 1;
  }



.track{
   
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 85%;
    left: 39%;
    
    padding: 10px 10px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    font-family:Oswald;    


}


/*ABOUT-SECTION*/
.about{
    display: flex;
    flex-direction: column;
     margin:44px 0px;
    justify-content: center;
    width: 100%;
    height: 10px;
    background-color: #e9dbdb;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: auto;
}
.rec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about1{
    margin: 0px 0px;
    top: 17%;
    position: absolute;
}    
    

.about2,.a{
    margin: 10px;
    bottom: -25%;
    position: relative;
}
h3{
    text-align: center;
    margin-top: 2px;
    color: #0e0e0d;
    text-shadow: #797575;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px 10px;
    


}

/*footer section*/
footer{
  
   
   
   background-color: #e1b5b5;
    
     display: flex;
     justify-content: center;
     position: relative;
     flex-direction: column;
     align-items: center;
    
    
     
 }
 
 .connections{
     
     width: 100%;
     display: inline-flex;
   
     justify-content: center;
     padding: 25px 20px;
 }
 
 .contact{
     
     width: 30%;
     border: 5px solid rgb(108, 108, 108);
     text-align: center;
     font-family: 'Caveat', cursive;
     
 }
 
 
 .social{
     display:flex;
     flex-direction: column;
     width: 30%;
     border: 2px solid #797575;
     text-align: center;
     font-family: 'Caveat', cursive;
     border-radius: 5px;
    
     
 }
 #contact{
     display: flex;
     flex-direction: column;
     
     margin: 0 auto;
     padding: 20px;
     margin-top: 0px;
     gap: 5px;
     border-radius: 5px;
   
 }
 label{
    
     font-size: 14px;
     margin-top: 15px; 
 }
 
 input{
     border: 1px solid #0891b2;
     padding: 8px;
     border-radius: 5px;  
 }
 
 
 input[type="submit"], .submit-btn{
     margin-top: 10px;
     padding: 12px 17px;
     border: none;
     background-color: #cac1bf;
     color: #ecfeff;
     text-transform: uppercase;
     border-radius: 5px;
     font-weight: bold;
     cursor: pointer; 
 }
 
 .submit-btn:hover{
     background-color: #ea7171;
     transition: all ease-in 0.5;
 }
 
 i{
     font-size: 40px;
     margin: 20px 0;
 
 }
 
 .end{
     display: flex;
    justify-content: center;
    text-decoration: solid;
    font-size: 15px;
    align-items: center;
    margin-bottom: auto;
 }
 
/* modal buttons -cookie */

.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 443px;
    width: 350px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212529;
    color: whitesmoke;
}

.modal-inner{
    width: 290px;
    margin: 0 auto;
    top: -18%;
}

.modal-inner-loading{
    text-align: center;
}

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: red;
    cursor: pointer;
}

.modal-close-btn:disabled{
    color: whitesmoke;
    opacity: 0.2;
    cursor: not-allowed;
}

.modal-choice-btns{
    margin-top: 10px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
}

.modal-btn{
    padding: 10px 24px;
    cursor: pointer;
}

.modal-btns-reverse{
    flex-direction: row-reverse;
}

/* modal input */

input{
    margin-top: 10px; 
    border: 1px solid #212529;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}
.label{
    text-align: center;
}
/* modal after submit */

.loading{
    width: 100%; 
    margin-top: 10px;
}

.modal-display-name{
    color: fuchsia;
}

.modal-text{
    height: 140px;
    line-height: 23px;
    margin-bottom: 0;
}

.thank-gif{
    width: 95%;
    margin: 10 auto;
  
}

.thank-gif img{
    display: flex;
    margin-top:20px;
    margin-bottom:auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.chk{
    display: flex;
    justify-content: space-evenly;
}


.a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3b55bb;
   
}
.a:hover{
   font-weight: bold;
  
   border: 2px solid rgb(210, 200, 179);
  
}

/*responsive */
@media only screen and (max-width: 1200px){
    .open{
        display: block;
    }
    body{
        height: 100%;
        width: 100%;

    }
    .modal{
        right: 50%;
        left: 0;
        bottom:0;
        top:0;
    }
    img{
        size: 10%;
    }
    .third-row img{
        height: 144px;
    }
    .third-row{
        flex-direction: column;
    }
    .home{
        font-size: 40px;
    }
    .links{
        display: none;
    }

    header{
        width: 200%;
    }
    .logo{
        font-size: 20px;
        margin-left: -15px;
    }

   nav ul{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80vh;
    background-color:rgb(255, 255, 255);
    padding :65px;
   } 
   nav ul li{
    display: block;
    text-align: center;
    margin: 50px;
   }

   nav img {
    display: block;
    width: 30px;
    cursor: pointer;
   
   }
   nav ul img{
    position:absolute;
    top: 30px;
    left: 30px;
   }
  
}